{
	"presets": [
		"@babel/env",
		"@babel/react"
	],
	"plugins": [
		["@babel/transform-for-of", { "loose": true }]
	],
	"env": {
		"es6": {
			"presets": [
				["@babel/env", { "modules": false }]
			]
		}
	}
}
